@inherits TransitionableLayoutComponent

<div class="@transitioningClass" style="width:100%">
    @Body
</div>


@code {
   
    //private string transitioningClass => Transition.FirstRender ? "" : Transition.IntoView
    //    ?(!Transition.Backwards ?  $"slide-up" : $"slide-down")
    //     :(!Transition.Backwards ? $"slide-up-out" :$"slide-down-out");

    //for left-right
             private string transitioningClass => Transition.FirstRender ? "" : Transition.IntoView
        ?(!Transition.Backwards ?  $"slide-left" : $"slide-right")
         :(!Transition.Backwards ? $"slide-left-out" :$"slide-right-out");
         
}